body {
  font-family: "Segoe UI", Arial, sans-serif;
  background: #f3e1dc;
  padding: 25px;
}

h1 {
  text-align: center;
}

#creditos-acumulados,
#porcentaje-avance {
  text-align: center;
  font-weight: bold;
  margin: 10px 0;
}

/* CONTENEDOR GENERAL */
.contenedor-ciclos {
  display: flex;
  gap: 25px;
  overflow-x: auto;
  padding-top: 20px;
}

/* CADA CICLO */
.ciclo {
  min-width: 230px;
}

/* TITULO CICLO */
.ciclo h2 {
  text-align: center;
  margin-bottom: 10px;
}

/* LISTA DE CURSOS */
.grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* CURSO NORMAL */
.curso {
  background: #f6c1d1;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

/* CURSO HECHO */
.curso.aprobado {
  background: #b79ad8;
  text-decoration: line-through;
}

/* CREDITOS */
.creditos {
  font-size: 0.75rem;
  opacity: 0.85;
  margin-top: 4px;
}
